<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>charity_quiz</title>
   <link rel="stylesheet" type="text/css" href="style2.css">
 </head>

 <body>
   <h1>Charity Quiz</h1>
   

<form method = "POST" action = "/charity">
<p> What is your name? <input type = "text" name = "username"></p>
<h3 class= "size">Would you like to support a human or animal charity? </h3>
<div class="size">
 
     <input type = "radio" name = "q1" value = "1">Human<br>
     <input type = "radio" name = "q1" value = "2">Animal<br>
 </div>
<input type="submit">  
 </form>

<h8>Hello and welcome to 4 Humanity! This website was made by Christina, Jazzy, and Valeria from Kode with Klossy. We created this website for deciding which charitiy would best suit what you want. We hope you enjoy the website and find a charity you would like to support! </h8>


 </body>
</html>

<style>
h8 {
   font-size: 20px;
   font-family: "Monospace";
     </style>
     <style>
     h3 {
   font-size: 20px;
   font-family: "Monospace"; </style>
   <style>
   p {
   font-size: 30px;
   font-family: "Monospace";</style>
   
   <style>  
   input {
   font-size: 20px;
   font-family: "Monospace";</style>
   
   <style>   h1 {
   font-size: 70px;
   font-family: "Monospace";</style>
   
   <style>     {
   font-size: 20px;
   font-family: "Monospace";</style>